*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Rubik';
}
.modal-location__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 25, 30, .5);
}
.modal-location__title{
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.modal-location__content{
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0px 32px;
    width: 416px;
    height: 637px;
    border-radius: 20px;
}
.modal-location__img{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.modal-location__alert{
    width: 352px;
    padding: 16px 23px;
    background: #CFEBF7;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.001em;
    color: #000;
    margin-bottom: 1.2rem;
}
.modal-form__box{
    position: relative;
}
.modal-form > div[class^='modal-form__']{
    margin-bottom: 1.2rem;
}
.modal-form__selectbox .modal-form__select{
    background: #fff;
    border: 1px solid #D9DADB;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 16px;
    position: relative;
}
.modal-selectbox__select .arrow-right{
    margin-right: 10px;
}
.modal-form__selectbox .modal-form__placeholder{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #B7BABC;
}
.modal-form__content .modal-form__item{
    list-style: none;
    padding: 0;
    line-height: normal;
    height: 20px;
}
.arrow-down{
    display: inline-block;
    border-width: 0 2px 2px 0!important;
    padding: 2px;
    border: solid #B7BABC;
    transform: rotate(45deg);
    width: 7px;
    height: 7px;
    transition: all .3s ease;
}
.arrow-down.up{
    transform: rotate(225deg);
    width: inherit;
    height: inherit;
}
.arrow-down.blue{
    border: solid #009FE3;
}
.modal-form__box:nth-child(1) .arrow-down{
    border: solid #009FE3;
}
.modal-form__box:nth-child(2) .modal-form__select,
.modal-form__box:nth-child(3) .modal-form__select{
    cursor: pointer;
}
.modal-form__box:nth-child(2) .modal-form__select.disabled,
.modal-form__box:nth-child(3) .modal-form__select.disabled{
    pointer-events: none;
}
.modal-form__box:nth-child(3) .modal-form__options{
    bottom: 47px;
    border-top: 1px solid #D9DADB;
}
.modal-form__list{
    max-height: 190px;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.modal-form__options{
    border-left: 1px solid #D9DADB;
    border-right: 1px solid #D9DADB;
    border-bottom: 1px solid #D9DADB;
    background-color: #fff;
    visibility: hidden;
    display: none;
    transition: all .3s ease;
    position: absolute;
    left: 0;
    right: 0;
}
.modal-form__options.modal-form__options--active{
    display: block;
    z-index: 10;
    visibility: visible;
}
.modal-form__list::-webkit-scrollbar {
	width: 6px;
}
.modal-form__list::-webkit-scrollbar-thumb{
	background-color: #009FE3;
	border-radius: 6px;
}
.modal-form__item{
    border-bottom: 1px solid #D9DADB;
    width: 100%;
    padding: 11.5px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #0F191E;
}
.modal-form__item:last-child{
    border-bottom: none;
}
.modal-form__item:hover{
    color: #009FE3;
    cursor: pointer;
}
.modal-location__save{
    appearance: none;
    border: none;
    padding: 12px;
    width: 100%;
    height: 48px;
    background: #009FE3;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
}
.modal-location__save:disabled{
    background: #D9DADB;
    color: #878C8F;
    cursor: default;
}